.ChatRoomMenu {
    position: relative;
    width: 375px;
    height: 44px;
    background-color: var(--purple);
}
.img_back {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.ChatSender {
    position: absolute;
    top: 12px;
    left: 143px;
    width: 95px;
    height: 20px;
    font-family: AppleSDGothicNeo;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.12px;
    text-align: center;
    color: var(--white);
}
.img_upload {
    position: absolute;
    top: 10px;
    left: 298px;
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.img_search {
    position: absolute;
    top: 10px;
    left: 339px;
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.ChatRoomPicture {
    position: relative;
    width: 375px;
    height: 68px;
    background-color: var(--purple);
}
.Pictures {
    position: relative;
    top: 11px;
    left: 16px;
    width: 46px;
    height: 46px;
}